.personBtn {
  height: 100%;
  width: 60px;
  background-color: #9c66c1;
  border: 1px solid #cea2e5;
  cursor: pointer;
}
.personFIO {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 236px;
  height: 60px;
  background-color: #9c66c1;

  .personFIOWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 170px;
    min-width: 125px;

    .personInitials {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      background: #cea2e5;
      color: #ffffff;
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 34px;
      text-align: center;
      margin-right: 10px;
    }
    .personName {
      color: #ffffff;
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 34px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
}
.personIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 320px) {
  .personBtn {
  }

  .personFIO {
    .personFIOWrap {
      .personInitials {
      }
      .personName {
      }
    }
  }
}
